/* Color scheme Blue
----------------------------------------------- */
html body {
  background-color: #547980;       
}
body a,
body .post-entry .post-entry-headline a {
  color: #547980;       
}
body #top-navigation-wrapper,
body #wrapper-footer,
body #searchform .searchform-wrapper .send,
.js #top-navigation-wrapper .top-navigation .selectnav {
  background-color: #224f57;                             
}
body #main-content-inner,
body #searchform .searchform-wrapper #s {
  border-color: #224f57;                         
}
body .post-entry .read-more-button,
body input[type="submit"],
body input[type="reset"] {
  background-color: #769297;                                   
}
body .menu-box ul ul {
  border-color: #769297;                     
}
body .sidebar-widget a {
  color: #769297;                       
}
body .post-entry .read-more-button:hover,
body .footer-signature,
body input[type="submit"]:hover,
body input[type="reset"]:hover,
body #searchform .send:hover {
  background-color: #1a3c42;                                         
}
body #top-navigation-wrapper,
body .top-navigation ul ul,
body #wrapper-footer,
body #footer .footer-widget .footer-headline,
.js #top-navigation-wrapper .top-navigation .selectnav {
  border-color: #1a3c42;                             
}
body .footer-signature {
  border-color: #122a2e;                       
}
body .menu-box a:hover,
body .menu-box :hover > a,
body #searchform .searchform-wrapper #s {
  background-color: #bed0d4;                          
}
body .top-navigation a,
body .top-navigation a:visited,
body #footer a,
body #footer .footer-widget .footer-headline,
body .footer-signature .footer-signature-content a {
  color: #dfedf0;                               
}